importFrom("methods", Ops, Math)
importFrom("graphics", plot, hist, lines, image, contour, persp)
importFrom("stats", aggregate, predict)
importFrom("utils", stack, unstack)
importFrom("sp", overlay, bbox, Spatial, SpatialPixels, SpatialPixelsDataFrame, SpatialGrid, SpatialGridDataFrame)
exportClasses(Extent, BasicRaster, Raster, RasterLayer, RasterBrick, RasterStack)
exportMethods("[", aggregate, bbox, band, brick, calc, clump, contour, crop, dim, disaggregate, extent, expand, hist, ncol, nrow, ncell, Median, overlay, persp, plot, predict, raster, saveAs, show, stack, summary, unstack)
exportPattern("^[^\\.]")
