importFrom("methods", Arith, Compare, Logic, Math)
importFrom("graphics", hist, plot)
importFrom("stats", median, aggregate)
importFrom("utils", stack)
importFrom("sp", bbox, overlay, Spatial, SpatialPixels, SpatialPixelsDataFrame, SpatialGrid, SpatialGridDataFrame)
exportClasses(BoundingBox, BasicRaster, Raster, RasterLayer, RasterStack)
exportMethods(aggregate, stack, median, show, summary, plot, hist, ncol, nrow, dim, overlay, bbox)
exportPattern("^[^\\.]")